.Container {
  max-width: 1440px;
  margin: auto;
  display: block !important;

}

.cart-mobile-container {
  margin: auto;
  max-width: 230px;
  width: 100%
}

.section1-top {
  margin-top: 140px !important;
  margin-bottom: 140px !important;
}
.section1-title {
  font-style: normal;
  font-weight: 900 !important;
  font-size: 75px !important;
  line-height: 1 !important;
  display: flex;
  align-items: center;
  color: #000000;
}
.section1-subtitle {
  color: black;
  font-size: 30px !important;
  margin: 1rem 0 !important;
}
.section-title {
  color: black;
  font-size: 30px !important;
  font-weight: 800 !important;
  padding: 1rem 1rem 0!important;
}
.cartfix-container {
  margin-top: 1rem !important;
  justify-content: center;
  display: flex !important;
  margin: auto;
}
.cart-fix-container {
  margin: 1rem;
}
.cart-contentfix-container {
  margin-top: 1rem;
  max-width: 250px !important;
  width: 100%;
}
.cart-popular-container {
  margin: 1rem;
}