.homepage {
  color: white;
  max-width: 1980px;
}

.cart-mobile-container {
  max-width: 230px;
  width: 100%
}

.mobile-container {
  max-width: 1980px;
}
.section1-top {
  margin-top: 140px !important;
  margin-bottom: 140px !important;
}
.section1-title {
  font-style: normal;
  font-weight: 900 !important;
  font-size: 75px !important;
  line-height: 1 !important;
  display: flex;
  align-items: center;
  color: #000000;
}
.section1-subtitle {
  font-size: 30px !important;
  margin: 1rem 0 !important;
}