.button {
  height: 40px;
  outline: none;
  border: none;
  font-size: 18px;
  width: 80%;
  cursor: pointer;
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}