.card-mobile {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10.2941px;
  padding: 1.5rem 0;
  box-shadow: -10.2941px -10.2941px 30.8824px #FFFFFF, 10.2941px 10.2941px 30.8824px rgba(174, 174, 192, 0.4);
}

.card-mobile > p {
  text-align: center;
  font-size: 25px;
  font-weight: 900;
}

.card-mobile > img {
  width: 40%;
  text-align: center;
  margin: 1rem auto;
}