.content-fix {
  text-align: left;
}

.content-fix .title {
  color: black;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.content-fix .content {
  color: black;
  font-size: 18px;
  font-weight: 400 !important;
  margin: 0;
}

.horzon-line {
  text-align: left;
  margin: 5px 0;
  width: 50px;
  border: none;
  border-bottom: solid 6px #054DFA;
}
