.search-container {
    border-radius: 80px;
    position: relative;
    height: 40px;
    padding-left: 20px;
    width: 100%;
    max-width: 900px;
}

.search-icon {
    position: absolute;
    right: 0px;
    top: 8px;
    right: 10px;
    cursor: pointer;
}

.search-input {
    width: 100%;
    margin-top: 5px;
}