.footer {
  padding: 230px 20px 30px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
}

.footer::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -1px;
  height: 210px;
  background-image: url('../img/shape.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  z-index: -1;
}