.footer {
  padding: 190px 20px 30px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
}

.footer::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -1px;
  height: 210px;
  background-image: url('../img/shape.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  z-index: -1;
}

.footer-container {
  max-width: 1440px;
  margin: auto;
}

.footer_link {
  list-style: none;
  padding-left: 0px;
}
.links > a {
  text-decoration: none;
  color: black;
}

.links > a:hover{
  color: gray;
}

.link_name{
  margin: 0.5rem 0;
  font-weight: 700;
}

.footer-images-div {
  display: flex;
  justify-content: space-between;
}

.footer-images-div > div {
  display: flex;
  align-items: flex-end;
}

.footer-buynow {
  height: 40px;
  margin-right: 10px;
}

.footer-others {
  height: 34px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 80px;
  padding: 1px;
  align-items: center;
  text-align: center;
  margin-right: 5px;
}

.footer-others > img {
  height: 32px;
}

.footer-device-list {
  height: 80px;
  margin-left: 10px;
}

.footer-device-response {
  display: none;
  height: 80px;
}

.device-list-grid {
  display: block;
  margin-top: 25px;
}

.device-list-grid > div {
  margin: 20px 0;
}
