@media (max-width: 996px) {
  .container-header .search-div {
    display: none;
  }
}

@media (max-width: 768px) {
  .container-header .nav-div, .header-brand, .mockup-shape {
    display: none;
  }
  .container-header {
    margin-top: 0;
  }
  .avatar-div {
    display: flex;
  }
  .mobile-search-div {
    display: flex;
  }
  .container-mobile {
    display: block;
  }
  .section1-title, .section1-subtitle {
    text-align: center;
    display: block;
  }
  .corner-shape {
    width: 60vw;
  }
}